version: "3"

networks:
  shared_network:
    external: true

services:
    db:
        container_name: mysql
        platform: linux/x86_64
        image: "mysql:8.0.35"
        environment:
            - MYSQL_USER=username
            - MYSQL_PASSWORD=password
            - MYSQL_ROOT_PASSWORD=password
            - MYSQL_DATABASE=test-local
        ports:
            - "3306:3306"
        volumes:
            - ./mysql.conf:/etc/mysql/conf.d
            - ./dbdata:/var/lib/mysql/:delegated
        command: ['mysqld', '--character-set-server=utf8mb3', '--collation-server=utf8mb3_general_ci']
